---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>Nie znaleziono strony :(</strong></p>
  <div>
    <a href="/"
        aria-label="Home" class="button is-green is-outlined mt--xl pl--xxxl pr--xxxl">
        Powrót na stronę główną
      </a>
  </div>
</div>
