---
layout: default
ref: index
lang: en
---

{% assign data = site.home-page-en %}
<section class="hero is-success is-fullheight">
  {% include submenu.html %}
  <div class="hero-body">
    <div class="container content">
      {% for item in data %}
      <h4 class="subtitle">
        {{ item.hero-subtitle-en }}
      </h4>
      <h1 class="title is-size-1">
        {{ item.hero-header-en }}
      </h1>
      <p>{{ item.hero-text-en }}</p>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container content">
    <div class="columns">
      <div class="column">
      {% for item in data %}
      <h4 class="subtitle">
        {{ item.portfolio-subtitle-en }}
      </h4>
      <h1 class="title is-size-1">
        {{ item.portfolio-header-en }}
      </h1>
      {% endfor %}
    </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container content">
    <div class="columns">
      <div class="column">
        {% for item in data %}
        {{ item.services-header-en }}
        <br>
        {{ item.services-text-en }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container content">
    <div class="columns">
      <div class="column">
        {% for item in data %}
        {{ item.about-us-header-en }}
        <br>
        {{ item.about-us-subtitle-en }}
        <br>
        {{ item.about-us-text-en }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container content">
    <div class="columns">
      <div class="column">
        {% for item in data %}
        {{ item.our-clients-header-en }}
        <br>
        {{ item.our-clients-subtitle-en }}
        <br>
        {{ item.our-clients-text-en }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container content">
    <div class="columns">
      <div class="column">
        {% for item in data %}
        {{ item.contact-header-en }}
        <br>
        {{ item.contact-text-en }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>