---
layout: default
ref: index
lang: pl
---
{% assign data = site.home-page-pl %}

<section class="hero is-fullheight mb--xxxl">

  <div class="bg-video is-hidden-touch">
    <video class="bg-video__content" autoplay muted loop>
      <source src="{{ "/assets/images/Flower_Ceiling.mp4" | prepend: site.baseurl }}" type="video/mp4">
        Twoja przeglądarka nie wspiera video!
    </video>
  </div>

  {% include submenu.html %}

  <div class="hero-body is-hidden-desktop mobile-hero">
    <div class="container content has-text-white">
      <div class="columns">
        <div class="column is-half">
          {% for item in data %}
          <p class="has-text-amber is-uppercase mb--none">
            {{ item.hero-subtitle-pl }}
          </p>
          <h1 class="title is-size-1 is-size-2-touch has-text-white has-text-shadow">
            {{ item.hero-header-pl }}
          </h1>
          <p class="has-text-shadow">
            {{ item.hero-text-pl }}
          </p>
          <button class="button has-addons is-amber mt--lg" onclick="scrollDown()">
            Zobacz więcej
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-body is-hidden-touch">
    <div class="container content has-text-white">
      <div class="columns">
        <div class="column">
          <p class="has-text-amber is-uppercase mb--none has-text-shadow">
            {{ item.hero-subtitle-pl }}
          </p>
          <h1 class="title is-size-1 is-size-2-touch has-text-white mt--none has-text-shadow">
            {{ item.hero-header-pl }}
          </h1>
          <p class="has-text-shadow">
            {{ item.hero-text-pl }}
          </p>
          <button class="button has-addons is-primary" onclick="scrollDown()">
            Zobacz więcej
          </button>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% include portfolio-component-pl.html %}
{% include services-component-pl.html %}
{% include about-component-pl.html %}
{% include our-clients-component-pl.html %}
{% include contact-component-pl.html %}
{% include homepage-gallery.html %}