<div class="hero">
  <div class="my-gallery columns is-multiline is-centered is-mobile is-gapless" itemscope>
    {% for item in data %}
      {% for image in item.gallery %}
        <figure class="column is-one-quarter-fullhd is-one-third-desktop is-half-tablet is-half-mobile img-box" itemscope>
          <a href="{{ image.gallery-image }}" data-size="1280x720">
            <img class="gallery__img" src="{{ image.gallery-image-thumb }}" alt="{{ image.alt-text }}" loading="lazy" itemprop="thumbnail" />
          </a>
        </figure>
      {% endfor %}
    {% endfor %}
  </div>
</div>