<section class="section mb--xl">

  <div class="container content has-text-centered">
    <div class="columns">
      <div class="column">
        {% assign portfolioText = site.portfolio-page-pl %}
        {% for item in portfolioText %}
          <p class="has-text-amber is-uppercase mb--none">
            {{ item.portfolio-subtitle-pl }}
          </p>
          <h2 class="title mt--none is-size-1 is-size-2-touch">
            {{ item.portfolio-header-pl }}
          </h2>
          <p>
            {{ item.portfolio-text-pl }}
          </p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="ml--xxs mr--xxs">
    <div class="columns is-centered is-multiline">

      {% assign portfolioItems = site.portfolio-col-pl | sort:'title' %}

      {% for item in portfolioItems | limit: 8 %}
        <a href="{{ item.slug | prepend: site.baseurl | prepend: 'realizacje/' }}" title="{{ item.portfolio-col-pl-name-alt }}" class="column is-one-quarter-fullhd is-one-third-desktop is-half-tablet is-full-mobile">
          <div class="card-image">
            <figure class="image is-3by2">
              <img class="" src="{{ item.cover-sm | prepend: site.baseurl }}" alt="{{ item.portfolio-col-pl-name}}" loading="lazy" />
            </figure>
            <div class="card-content is-overlay is-clipped p--sm">
              <h2 class="tag is-amber">
                {{ item.portfolio-col-pl-name-alt }}
              </h2>
            </div>
          </div>
          <div class="card-footer content has-text-centered">
            <h3 class="subtitle is-size-3 mt--xs">
              {{ item.portfolio-col-pl-name }}
            </h3>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

<div class="section content">
  <div class="container">
    <div class="columns is-vcentered is-centered">
      <div class="column is-half has-text-centered">
        <a href="{{ site.baseurl }}/realizacje" class="button is-outlined is-green pl--lg pr--lg">
          Zobacz wszystkie realizacje
        </a>
      </div>
    </div>
  </div>
</div>
