<section class="section is-relative leaf-1 mb--xxxl">
  <div class="container">
    <div class="columns is-centered is-full-touch content mb--xl">
      <div class="column is-half has-text-centered">
        {% assign data = site.home-page-pl %}
        {% for item in data %}
          <h2 class="title is-size-1 is-size-2-touch">
            {{ item.services-header-pl }}
          </h2>
          <h4 class="subtitle is-size-3">
            &#8222;{{ item.services-text-pl }}&#8221;
          </h4>
        {% endfor %}
      </div>
    </div>

    <div class="columns is-centered is-multiline">
      {% assign services = site.services-pl %}
      {% for service in services %}
      <div class="column is-5">
        <div class="card blog__post col-full">
          <div class="card-image">
            <figure class="image is-2by1 is-marginless">
              <img
                src="{{ service.image | prepend: site.baseurl }}"
                alt="{{ service.name }}"
                loading="lazy" />
            </figure>
          </div>
          <div class="card-content has-text-centered content">
            <p class="has-text-amber is-uppercase mb--none">
              usługi
            </p>
            <h2 class="subtitle is-size-2 mt--none">
              {{ service.name }}
            </h2>
            <p>
              {{ service.blurb }}
            </p>

            {%- comment -%}
            TODO: Pokazać gdy będą podstrony usług
            <div class="content">
              <a class="button is-outlined is-green pl--lg pr--lg" href="{{ site.baseurl }}/projektowanie/">Więcej</a>
            </div>
            {%- endcomment -%}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>