.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $family-secondary;
    letter-spacing: 1px;
    font-weight: 400 !important;
  }
}

::selection {
  background: $lime;
  color: $white;
}

.button {
  transition: all $speed cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

.is-relative {
  position: relative;
}

button,
a {
  border-radius: 0 !important;
}

.img-border {
  border: 1rem solid white;
}

.mobile-hero {
  background-image: url(/images/nat-2-large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.leaf-1::before {
  content: url(./images/leaf-1.svg);
  width: 100%;
  height: 100%;
  top: 5%;
  left: 0;
  position: absolute;
  @media (max-width: $tablet) {
    display: none;
  }
}

#about-us {
  background-image: url(../assets/images/about-us-bg.jpg);
}

#blog {
  overflow: hidden;
}

#blog::before {
  content: "";
  background-image: url(../assets/images/blog-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  top: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}

.leaf-2::after {
  content: url(./images/leaf-2.svg);
  width: 100%;
  height: 100%;
  top: 15%;
  left: 70%;
  position: absolute;
  @media (max-width: $tablet) {
    display: none;
  }
}

.our-clients-img::before {
  content: "";
  position: absolute;
  top: 20%;
  right: -5%;
  bottom: 20%;
  left: -100%;
  background-image: linear-gradient(
    141deg,
    #80a531 0%,
    #86ba4f 71%,
    #81c75c 100%
  );
}

.bottom-left {
  position: absolute;
  bottom: $lg;
  left: $xl;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.link-hover::before {
  position: absolute;
  top: -10%;
  left: 10%;
  right: 0;
  bottom: 0;
  content: "";
  background-color: $green;
  width: 0%;
  opacity: 0;
  height: 1px;
  transition: all $speed cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

.link-hover:hover::before {
  width: 80%;
  opacity: 1;
  transition: all $speed * 1.5 cubic-bezier(0.75, 0.25, 0.25, 0.75);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  &__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.book:not(:last-child) {
  margin-bottom: 6rem;
}

.work {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  overflow: hidden;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      135deg,
      rgba(white, 1) 0%,
      rgba(white, .8) 40%,
      rgba(white, 0.1) 60%,
      transparent 45%
    );
    z-index: 2;
    @media (max-width: $tablet) {
      background-image: linear-gradient(
      135deg,
      rgba(white, 1) 0%,
      rgba(white, 0.2) 100%,
      transparent 45%
    );
    }
  }

  &__content {
    z-index: 3;
    width: 50%;
    @media (max-width: $tablet) {
      width: 90%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  &:not(:last-child) {
    margin-bottom: 6rem;
  }
}

.book {
  background-image: linear-gradient(
      135deg,
      rgba(white, 0.9) 0%,
      rgba(white, 0.6) 45%,
      transparent 45%
    ),
    url(//unsplash.it/640/640);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.2);
  margin-bottom: 1rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}

.blog__post:not(:last-child) {
  margin-bottom: 6rem;
}

.blog__post figure {
  height: 40vh;
}

.blog__post img {
  object-fit: cover;
}

.blog__footer {
  color: cornflowerblue;
}

.tag {
  // border-radius: 5rem !important;
  // padding: 1rem 2rem !important;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  img {
    object-fit: cover;
    height: 100% !important;
  }
}

.rect::after {
  content: "";
  width: 6rem;
  height: 6rem;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  position: absolute;
  @media (max-width: $tablet) {
    display: none;
  }
}

.rect--amber::after {
  background-color: $amber;
}
.rect--green::after {
  background-color: $green;
}
.rect--lime::after {
  background-color: $lime;
}
.rect--grey::after {
  background-color: $grey;
}

.services {
  display: flex;
  justify-content: space-around;
  height: 100%;

  &__text {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 70%;
    margin: 30vh auto;
  }

  &__actual,
  &__link {
    display: flex;
    position: relative;
    overflow: hidden;
    min-height: 60vh;

    &:hover .services__image {
      filter: brightness(0.8);
      transform: scale(1.05);
    }
  }

  &__actual {
    flex: 2 1 75%;
    margin-right: 2rem;

    @media (max-width: $tablet) {
      margin-right: 0;
    }
  }

  &__link {
    flex: 1 1 25%;
    align-self: stretch;
    position: relative;
  }

  &__image {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    background-position: center;
    filter: brightness(0.4);
    transition: all 5s ease-in-out;
  }
}

.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all $speed;
    outline-offset: 2rem;

    @media (max-width: $tablet) {
      float: left;
      position: relative;
      width: 33.33333333%;
      box-shadow: 0 1.5rem 3rem rgba(black, 0.2);
    }

    &--p1 {
      left: 0;
      top: -10rem;

      @media (max-width: $tablet) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;
      }
    }

    &--p2 {
      right: 0;
      top: -5rem;

      @media (max-width: $tablet) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;
      }
    }

    &--p3 {
      left: 20%;
      top: 2rem;

      @media (max-width: $tablet) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
      }
    }

    &:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}

.navbar-item > a:hover {
  color: $amber;
}

.navbar-item:hover {
  background-color: transparent !important;
  color: darken($amber, 10) !important;
}

.img-box {
  overflow: hidden;
  font-size: 1rem;
  color: $amber;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.img-fig {
  overflow: hidden;
  margin-top: 0.5rem;
  width: 100%;
  height: 100%;
}

.gallery__img {
  transition: all 0.35s;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 0;
}

.gallery__img:hover {
  transform: scale(1.025);
}

#cookieinfo * {
    margin: 0px;
    padding: 0px;
}

#cookieinfo {
    position: fixed;
    font-size: 10px;
    font-family: Arial, Verdana, sans-serif;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #323334;
    padding: 14px;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#cookieinfo h6 {
    font-size: 14px;
    font-weight: bold;
    color: #cdd7da;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    margin-bottom: 7px;
}

#cookieinfo p {
    font-size: 12px;
    color: #afb4bc;
    line-height: 1.5em;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

#cookieinfo a {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    line-height: 22px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #ff6000;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

#cookieinfo a:hover {
    background-color: #ff7925;
}

.is-family-secondary {
  font-family: $family-secondary !important;
  letter-spacing: 1px;
  font-weight: 400 !important;
}

.has-text-shadow {
  text-shadow: 1px 1px 2px black;
}

.col-full {
  height: 100%;
  display: flex;
  flex-direction: column;
}