.full-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 29;
  top: 0;
  left: 0;
  background-color: $white;
  overflow-x: hidden;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: right;
  padding: 0 1rem;
}

.full-menu a {
  text-decoration: none;
  color: #818181;
  display: block;
}
@media screen and (max-height: 450px) {
  .full-menu a {
    font-size: 20px;
  }
  .full-menu .button {
    top: 15px;
    right: 35px;
  }
}
.navbar-item {
  .is-active {
    font-weight: bold;
  }
}

.navbar-item {
  a {
    color: $green;
  }
}
.nav-home {
  a {
    color: $white;
  }
}

.is-transparent {
  background: none;
}

.menu-container {
  position: absolute;
  top: 0;
  right: 0;
}

#menu-button {
  width: 100px;
  height: 100px;
  position: relative;
  cursor: pointer;
  // background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  transition: 0.25s ease-in-out;
  transform: scale(.5);
  transform-origin: top right;

  &:hover {
    // background: rgba(255, 255, 255, 0.8);
    transition: 0.25s ease-in-out;
  }
  #hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 0.25s ease-in-out;
    span {
      width: 60px;
      height: 4px;
      position: relative;
      top: 24px;
      left: 20px;
      margin: 10px 0;
      display: block;
      background: $green;
      border-radius: 2px;
      transition: 0.25s ease-in-out;
      &:nth-child(1) {
        transition-delay: 0.5s;
      }
      &:nth-child(2) {
        transition-delay: 0.625s;
      }
      &:nth-child(3) {
        transition-delay: 0.75s;
      }
    }
  }
  #cross {
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
    transition: 0.25s ease-in-out;
    span {
      display: block;
      background: $green;
      border-radius: 2px;
      transition: 0.25s ease-in-out;
      &:nth-child(1) {
        height: 0%;
        width: 4px;
        position: absolute;
        top: 10%;
        left: 48px;
        transition-delay: 0s;
      }
      &:nth-child(2) {
        width: 0%;
        height: 4px;
        position: absolute;
        left: 10%;
        top: 48px;
        transition-delay: 0.25s;
      }
    }
  }
}

#menu-button.open {
  #hamburger {
    span {
      width: 0%;
      transition: 0.25s ease-in-out;
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: 0.125s;
      }
      &:nth-child(3) {
        transition-delay: 0.25s;
      }
    }
  }
  #cross {
    span {
      &:nth-child(1) {
        height: 80%;
        transition-delay: 0.625s;
      }
    }
    span {
      &:nth-child(2) {
        width: 80%;
        transition-delay: 0.375s;
      }
    }
  }
}

.navbar-brand {
  height: 2rem;
  display: flex;
  align-items: center;
  margin: .5rem auto;
}