/* montserrat-regular - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./fonts/montserrat-v14-latin-ext_latin-regular.woff2') format('woff2'),
       url('./fonts/montserrat-v14-latin-ext_latin-regular.woff') format('woff');
}

/* montserrat-700 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('./fonts/montserrat-v14-latin-ext_latin-700.woff2') format('woff2'),
       url('./fonts/montserrat-v14-latin-ext_latin-700.woff') format('woff');
}


/* eb-garamond-regular - latin-ext_latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('./fonts/eb-garamond-v13-latin-ext_latin-regular.woff2') format('woff2'),
       url('./fonts/eb-garamond-v13-latin-ext_latin-regular.woff') format('woff');
}
/* eb-garamond-700 - latin-ext_latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
       url('./fonts/eb-garamond-v13-latin-ext_latin-700.woff2') format('woff2'),
       url('./fonts/eb-garamond-v13-latin-ext_latin-700.woff') format('woff');
}

$family-primary: "Montserrat";
$family-secondary: "EB Garamond";
$fa-font-path: "./node_modules/@fortawesome/fontawesome-free/webfonts";

$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);

$grey-darker: hsl(0, 3%, 29%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$green: hsl(105, 17%, 28%);
$amber: hsl(32, 63%, 48%);
$lime: hsl(89, 44%, 52%);

$text: $grey-darker;
$text-strong: $grey-darker;
$size-1: 4em;
$column-gap: 2em;
$tablet: 769px;
$speed: 350ms;
$footer-background-color: $white;
// $navbar-breakpoint: $tablet;
$navbar-item-hover-background-color: $grey-lighter;

$custom-colors: (
  "green": $green,
  "amber": $amber,
  "lime": $lime,
);

$primary: $amber;

$none: 0em;
$xxs: 0.25em;
$xs: 0.5em;
$sm: 0.75em;
$md: 1em;
$lg: 1.5em;
$xl: 2.5em;
$xxl: 4em;
$xxxl: 6em;

$my-sizes: (
  "none": $none,
  "xxs": $xxs,
  "xs": $xs,
  "sm": $sm,
  "md": $md,
  "lg": $lg,
  "xl": $xl,
  "xxl": $xxl,
  "xxxl": $xxxl
);

$my-sides: (
  "": "",
  "t": 'top',
  "r": 'right',
  "b": 'bottom',
  "l": 'left'
);

@each $size in $my-sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);

  @each $side in $my-sides {
    $sideKey: nth($side, 1);
    $sideValue: nth($side, 2);

    @if $sideValue == "" {
      .m#{$sideKey}--#{$sizeKey} {
        margin: #{$sizeValue} !important;
      };

    .p#{$sideKey}--#{$sizeKey} {
        padding: #{$sizeValue} !important;
      };
    } @else {
      .m#{$sideKey}--#{$sizeKey} {
        margin-#{$sideValue}: #{$sizeValue} !important;
      };

      .p#{$sideKey}--#{$sizeKey} {
        padding-#{$sideValue}: #{$sizeValue} !important;
      };
    }
  }
}