---
layout: default
title: Blog
permalink: /blog/
ref: blog-pl
lang: en
order: 2
---

<section class="section">
  <div class="container content">
    <div class="columns">
      <div class="column">
        <h1 class="title">{{ page.title }}</h1>
        <section class="section">
  <div class="container">
    {% assign posts = site.blog-col-en %}
    {% for post in posts %}
      <a class="button" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    {% endfor %}
</section>
      </div>
    </div>
  </div>
</section>
