---
layout: default
title: Clients
permalink: /clients/
ref: clients-pl
lang: en
order: 3
---
<section class="section">
    <div class="container content">
        <div class="columns">
            <div class="column">
                <h1 class="title">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</section>

<section class="section">
  <div class="container">
    {% assign clients = site.clients-col-en %}
    {% for client in clients %}
      <a class="button" href="{{ client.url | prepend: site.baseurl }}">{{ client.title }}</a>
    {% endfor %}
</section>