---
layout: default
title: Zaufali nam
permalink: /zaufali-nam/
ref: clients-pl
lang: pl
order: 3
published: false
---
<div class="hero">
  {% include submenu.html %}
</div>

<section class="section">
  <div class="container content">
    <div class="columns is-centered">
      <div class="column is-three-fifths has-text-centered mb--xxxl">
        {% assign clientsText = site.clients-page-pl %}
        {% for item in clientsText %}
          <p class="has-text-amber is-uppercase mb--none">
            {{ item.clients-subtitle-pl }}
          </p>
          <h2 class="title is-size-1 is-size-2-touch mt--none">
            {{ item.clients-header-pl }}
          </h2>
          <p>
            {{ item.clients-text-pl }}
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="hero mb--xxxl leaf-2">
  <div class="container content">

    {% assign clients = site.clients-col-pl %}
    {% for client in clients %}
    <div class="columns is-centered is-vcentered is-marginless">
      <div class="column is-half is-paddingless">
        <figure class="image card is-marginless rect rect--amber">
          <img
            class="is-paddingless is-block"
            src="{{ client.client-pic | prepend: site.baseurl }}"
            alt="{{ client.client-pic }}"
            loading="lazy" />
        </figure>
      </div>
      <div class="column is-half is-marginless pl--xxxl">
        <h2 class="subtitle is-size-2">
          {{ client.client-name }}
        </h2>
        <p>
          {{ client.content }}
        </p>
        <a href="{{ client.reference | prepend: site.baseurl }}" target="_blank" class="button is-outlined is-green pl--lg pr--lg mt--lg">Pobierz referencje</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% include portfolio-component-pl.html %}
{% include contact-component-pl.html %}