---
layout: default
title: Kontakt
permalink: /kontakt/
ref: contact-pl
lang: pl
order: 7
published: false
---
<div class="hero">
  {% include submenu.html %}
</div>
{% assign contactData = site.contact-pl %}
{% for item in contactData %}
<section class="section is-relative leaf-1">
    <div class="container content">
        <div class="columns">
            <div class="column is-three-fifths has-text-centered mb--xxxl">
                <p class="has-text-amber is-uppercase mb--none">
                {{ item.contact-subtitle-pl }}
                </p>
                <h2 class="title is-size-1 is-size-2-touch mt--none">
                {{ item.contact-header-pl }}
                </h2>
                <div class="field mt--xxl">
                  <p class="control">
                    <input class="input is-large" type="email" placeholder="Adres e-mail">
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <textarea class="textarea is-large" placeholder="Twoja wiadomość"></textarea>
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button is-green pl--xxl pr--xxl">
                      Wyślij
                    </button>
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}