---
layout: default
title: Contact
permalink: /contact/
ref: contact-pl
lang: en
order: 7
---
<div class="hero">
  {% include submenu.html %}
</secdtion>
{% assign data = site.portfolio-page-pl %}
{% for item in data %}
<section class="section">
    <div class="container content">
        <div class="columns is-centered content">
            <div class="column is-three-fifths has-text-centered mb--xxxl">
                <p class="has-text-amber is-uppercase mb--none">
                {{ item.portfolio-subtitle-pl }}
                </p>
                <h2 class="title is-size-1 is-size-2-touch mt--none">
                {{ item.portfolio-header-pl }}
                </h2>
                <p>{{ item.portfolio-text-pl }}</p>
            </div>
        </div>
    </div>
</section>
{% endfor %}
