---
layout: default
title: Interiors
permalink: /interiors/
ref: interiors-pl
lang: en
order: 6
---
<div class="hero">
    {% include submenu.html %}
</secdtion>
<section class="section">
    <div class="container content">
        <div class="columns">
            <div class="column">
                <h1 class="title">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</section>