---
layout: default
title: Portfolio
permalink: /portfolio/
ref: portfolio-pl
lang: en
order: 1
---

<div class="hero">
  {% include submenu.html %}
</div>

<section class="section">
  <div class="container">
    {% assign works = site.portfolio-col-en %}
    {% for work in works %}
      <a class="button" href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a>
    {% endfor %}
</section>

{% assign data = site.portfolio-page-en %}
{% for item in data %}
<section class="section">
  <div class="container">

    <div class="columns is-centered content">
      <div class="column is-three-fifths has-text-centered mb--xxxl">
        <p class="has-text-amber is-uppercase mb--none">
          {{ item.portfolio-subtitle-en }}
        </p>
        <h2 class="title is-size-1 is-size-2-touch mt--none">
          {{ item.portfolio-header-en }}
        </h2>
        <p>{{ item.portfolio-text-en }}</p>
      </div>
    </div>
  </div>
</section>
{% endfor %}
{%- comment -%}
{% include blog-component-en.html %}
{% include contact-component-en.html %}
{%- endcomment -%}