---
layout: default
title: Realizacje
permalink: /realizacje/
ref: portfolio-pl
lang: pl
order: 1
published: true
---

<div class="hero">
  {% include submenu.html %}
</secdtion>

<section class="section">
  <div class="">

    <div class="columns is-centered content">
      <div class="column is-three-fifths has-text-centered mb--xxxl">
        {% assign portfolioText = site.portfolio-page-pl %}
        {% for item in portfolioText %}
        <header>
          <p class="has-text-amber is-uppercase mb--none">
            {{ item.portfolio-subtitle-pl }}
          </p>
          <h1 class="title is-size-1 is-size-2-touch mt--none">
            {{ item.portfolio-header-pl }}
          </h1>
          <p>
            {{ item.portfolio-text-pl }}
          </p>
        </header>
        {% endfor %}
      </div>
    </div>

    <div class="columns is-centered is-multiline">
      {% assign works = site.portfolio-col-pl %}
      {% for work in works %}
        <div class="column is-full-touch is-half-desktop">
          <a class="work card col-full" href="{{ work.url | prepend: site.baseurl }}">
            <div class="work__content">
              <h2 class="title is-size-2">
                <span class="is-block is-size-6 is-family-primary has-text-amber is-uppercase mb--lg">
                  {{ work.portfolio-col-pl-name-alt }}
                </span>
                <span class="is-family-secondary">
                  {{ work.portfolio-col-pl-name }}
                </span>
              </h2>
              <p class="work__desc">
                {{ work.portfolio-col-pl-desc | truncate: 220 }}
              </p>
              <button
                class="button is-green pl--lg pr--lg mt--md"
                href="{{ work.url | prepend: site.baseurl }}">
                Zobacz galerię zdjęć
              </button>
            </div>
            <img
              class="work__image"
              src="{{ work.cover-image | prepend: site.baseurl }}"
              alt="{{ work.cover-image }}"
              loading="lazy" />
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include contact-component-pl.html %}
