---
layout: default
title: Serwis
permalink: /serwis/
ref: services-service-pl
lang: pl
order: 5
published: false
---
<div class="hero">
  {% include submenu.html %}
</div>

{% assign services = site.services-pl %}
{% for service in services %}

{% if forloop.first or forloop.index == 2 %}
  {% continue %}
{% endif %}

<section class="hero is-fullheight mb--xxxl">
  <div class="services">
    <div class="services__actual">
      <div class="services__text">
        <div class="content">
          <p class="has-text-amber is-uppercase mb--mb">Nasze usługi</p>
          <h2 class="title is-size-1 is-size-2-touch mt--none has-text-white">
            {{ service.service-name }}
            {{ forloop.index }}
          </h2>
          <p class="has-text-white mt--xl">
            {{ service.service-body }}
          </p>
        </div>
      </div>
      <div class="services__image">
        <figure class="image">
          <img
            src="{{ site.baseurl }}{{ service.service-img }}"
            alt="{{ service.service-img }}"
            loading="lazy" />
        </figure>
      </div>
    </div>
    <div class="services__link is-hidden-touch">
      <div class="services__text">
        <div class="content has-text-centered">
          <p class="has-text-amber is-uppercase">Zobacz również:</p>
          <a href="{{ site.baseurl }}/zielone-wnetrza" class="button is-white is-outlined pl--xxxl pr--xxxl">
            Zielone wnętrzna
          </a>
        </div>
      </div>
      <div class="services__image">
        <figure class="image">
          <img
            src="{{ site.baseurl }}/images/service.png"
            alt="Usługi"
            loading="lazy" />
        </figure>
      </div>
    </div>
  </div>
</section>
{% endfor %}

{% include portfolio-component-pl.html %}
{% include contact-component-pl.html %}