<!DOCTYPE html>
<html lang="{{ page.lang | default: entry.lang | default: 'pl' }}">
  {% include header.html %}
  <body>
    {% include navbar.html %}
    {{ content }}
    {% include footer.html %}
    {% include photoswipe.html %}
    <script src="{{ '/assets/script.min.js' | relative_url }}" async></script>
    {% if jekyll.environment == 'production' %}
      {% include analytics.html %}
    {% endif %}
  </body>
</html>
