<!DOCTYPE html>
<html lang="{{ page.lang | default: entry.lang | default: 'pl' }}">
  {% include header.html %}
  <body>
    {% include navbar.html %}
    <section class="section">
      <div class="container">

        {% if page.lang == "en" %}
        <code>
          {{ page.title }}
          {{ page.portfolio-col-en-name }}
          {{ page.portfolio-col-en-name-alt }}
          {{ page.portfolio-col-en-desc }}
        </code>
        <div class="my-gallery" itemscope>
          {%- for item in page.portfolio-col-en-gallery -%}
          <figure itemscope>
            <a href="{{ item.portfolio-col-en-image }}" data-size="320x320">
              <img
                src="{{ item.portfolio-col-en-image }}"
                alt="{{ item.portfolio-col-en-image }}"
                loading="lazy" />
            </a>
          </figure>
          {%- endfor -%}
        </div>

        {% else %}

        <div class="columns is-centered content">
          <div class="column is-three-fifths mb--xxxl">
            <p class="has-text-amber is-uppercase mb--none">
              {{ page.portfolio-col-pl-name-alt }}
            </p>
            <h2 class="title is-size-1 is-size-2-touch mt--none">
              {{ page.portfolio-col-pl-name }}
            </h2>
            <p>
              {{ page.portfolio-col-pl-desc }}
            </p>
          </div>
        </div>

        {% endif %}

      </div>
    </section>

    <div class="hero">
      <div class="my-gallery columns is-multiline is-centered is-mobile is-variable is-3" itemscope>
          {%- for item in page.portfolio-col-pl-gallery -%}
          <figure class="column is-one-quarter-fullhd is-one-third-desktop is-half-tablet is-half-mobile img-box" itemscope>
              <a href="{{ item.portfolio-col-pl-image | prepend: site.baseurl }}" data-size="1280x720">
                <img
                  class="gallery__img"
                  src="{{ item.portfolio-col-pl-image | prepend: site.baseurl }}"
                  alt="{{ item.portfolio-col-en-image }}"
                  loading="lazy" />
              </a>
            </figure>
          {%- endfor -%}
        </div>
    </div>

    <div class="section content">
      <div class="container">
        <div class="columns is-vcentered is-centered">
          <div class="column is-half has-text-centered">
            <a href="{{ site.baseurl }}/realizacje" class="button is-outlined is-green pl--lg pr--lg">Powrót - wszystkie realizacje</a>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include photoswipe.html %}
    <script src="{{ '/assets/script.min.js' | relative_url }}" async></script>
  </body>
</html>
